<%= form_for(@qinmiset) do |f| %>
  <% if @qinmiset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qinmiset.errors.count, "error") %> prohibited this qinmiset from being saved:</h2>

      <ul>
      <% @qinmiset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
