<%= form_for(@shouye) do |f| %>
  <% if @shouye.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shouye.errors.count, "error") %> prohibited this shouye from being saved:</h2>

      <ul>
      <% @shouye.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
