.timecontrol_title>img
{
	margin-top: -37px;;
	width:410px;
	height: 150px;;
}
.timesentence p
{
	margin-top: 70px;
	padding-left: 30px;
	float: left;
	width: 400px;
	height: 30px;
	margin-left: 20px;
	font-size: 20px;
	color: cornflowerblue;
}
.activity-time
{
	padding: 10px 30px 20px 50px;
	color: #449D44;
	font-size: 25px;
	
}
.activity-time span
{
	margin-right: 20px;
	
}
.activity-text
{
	display: inline-block;
	border: 1px solid #ADADAD;
	border-radius: 10px;
	
}
.time
{
	font-size:30px;
	color: #398439;
	padding-left: 50px;;
	
}
.time-table
{
	width: 100%;
	font-family: "微软雅黑";
	font-size: 15px;
	margin-left: 10px;
	margin-top: 20px;;
	
}
.time-table  div
{
	margin-top: 50px;
	
}
.time-th
{
	width: 12.5%;
}
