.mapsearch{
    position: relative;
    z-index: 1;
    width:460px;
    height: 40px;
    float: right;
    margin:60px 20px 20px 0;
}
.mapsearch input{
    width:460px;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,0.5);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding-left: 10px;
}
.mapsearch input::-webkit-input-placeholder{
    color:white;
}
.mapsearch input::-moz-placeholder{
    color:white;
}
.mapsearch input:-ms-input-placeholder{
    color:white;
}
.mapcontainer{
	width:460px;
    height: 530px;
    position: absolute;
    right: 0px;
    z-index: 1;
    margin:0 20px 30px 0;
    background: white;
}
.mapcon{
    position: relative;
}
.maphead{
    width: 100%;
    height: 104px;
    background:#0F3B94;
    color: white;
}
.mapaddress{
    width: 100%;
    height:52px;
}
.mapaddress b{
    display: inline-block;
    width:320px;
    height:52px;
    line-height:52px;
    font-size: 20px;
    vertical-align: middle;
    margin-left:10px;
    font-weight: normal;
}
.mapadd{
    width:88px;
    height:45px;
    line-height: 45px;
    border:1px solid white;
    display: inline-block;
    font-size: 14px;
    padding-left: 8px;
    vertical-align: middle;
}
.mapadd1 span{
    margin-left: -12px;
}
.mapnav{
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 10px;
}
.mapnavitem{
    float: left;
    margin-right:50px;
    cursor: pointer;
}
.mapnavitem img{
    margin-right: 6px;
}
.mapnavitem2{
    margin-right: 0;
}
.mapnavitem1{
    float: right;
    cursor: pointer;
}
.mapdizhi{
    width: 420px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #DDDDDD;
    font-size: 16px;
}
.mapphone{
    margin-left: 30px;
    line-height: 40px;
    font-size: 16px;
}
.mapphoto{
    width: 100%;
    height: 178px;
    padding: 0 0 0 4px;
}
.mapphoto img{
    width: 100%;
}
.mapimg1{
    width: 240px;
    height: 100%;
    display: inline-block;
}
.mapimg2{
    width: 210px;
    height: 100%;
    display: inline-block;
    margin-left: -5px;
}
.mapimgcover{
    width:450px;
    height: 20px;
    line-height: 20px;
    margin:-20px 6px 0 0;
    padding-left: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.mapintr{
    margin-top: 10px;
    padding-left: 20px;
}

.ditusearch{
	width: 260px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgb(238,243,250);
}
.ditusearch>div{
	width: 240px;
	height: 100%;
	margin-left: 10px;
	margin-top: 10px;
	background-color: white;
	padding: 10px 6px;
}
.search-left{
	position: relative;
}
.search-left input{
	width: 100%;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid rgb(215,215,215);
	background-color: rgb(243,243,243);
}
.search-left .searchicon{
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-top: 2px;
	background-image: url(../images/search_icon.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	position: absolute;
	top: 5px;
	right: 10px;
	border-left: 1px solid rgb(215,215,215);
	padding-left: 10px;
}
.choosetitle{
	margin: 20px 0;
}
.chooselist ul li{
	float: left;
	width: 30%;
	margin-bottom: 20px;
	color: cornflowerblue;
}
