/*商城*/
nav{
	z-index: 100 !important;
}
.activeOn{
	color: white;
	background-color: rgb(46,167,224);
}
.sort {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #DDDDDD;
	height: 53px;
	line-height: 53px;
	margin-top: 39px;
	background-image: url(../images/store/2.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.sort li {
	float: left;
	text-align: center;
	font-size: 24px;
	width: 17%;
}
.sort li.clk,.sort li.all{
	cursor: pointer;
}

.sort li:nth-of-type(1) {
	color: white;
}

.storeSearch {
	width: 90%;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
	margin-top: 39px;
}

.searchContent {
	display: inline-block;
	width: 385px;
	border: 1px solid #DDDDDD;
}

.searchContent input {
	width: 340px;
	border: none;
	outline: none;
	padding-left: 10px;
}

.searchContent .searchButton {
	width: 43px;
	height: 35px;
	background-image: url(../images/store/4.png);
	background-size: 100% 100%;
	float: right;
}

.hotDegree {
	display: inline-block;
	width: 105px;
	height: 35px;
	line-height: 35px;
	margin-left: 33px;
	border: 1px solid #DDDDDD;
	cursor: pointer;
}

.hotDegree span {
	display: inline-block;
	font-size: 18px;
	width: 100%;
	text-align: center;
}

.hotDegree1 {
	border: none;
}

.regionContent {
	width:105.1%;
	margin: 0 auto;
	margin-top: 30px;
	/*display: flex;*/
	/*flex-flow: row;*/
	justify-content: space-between;
	align-items: center;
	/*flex-wrap: wrap;*/
	float: left;
}

.regionContent .regionList {
	width: 21.5%;
	border: 1px solid #DDDDDD;
	margin-right: 3%;
	margin-bottom: 24px;
	padding-bottom: 10px;
	float: left;
}

.regionContent .regionpadding {
	padding: 0;
	border: none;
}
/*.regionContent .regionList .listgroup1-img{*/
	/*width: 100%;*/
	/*height: 239px;*/
/*}*/
.regionContent .regionList img {
	width: 100%;
}

.regionList {
	position: relative;
}

.regionList .listgroup2,
.regionList .listgroup3,
.regionList .listgroup4 {
	width: 85%;
	margin: 0 auto;
	padding-top: 15px;
}
/*.regionList .listgroup2{*/
	/*height: 55px;*/
	/*overflow: hidden;*/
/*}*/
/*.regionList .listgroup3{*/
	/*height: 60px;*/
	/*overflow: hidden;*/
/*}*/

.regionList .listgroup3 span:nth-of-type(1) {
	font-size: 18px;
	color: red;
}

.regionList .listgroup3 span:nth-of-type(2) {
	margin-left: 10px;
}

.regionList .listgroup3 span:nth-of-type(3) {
	margin-left: 20px;
	font-size: 12px;
}

.regionList .listgroup4 {
	text-align: right;
}

.regionList .listgroup4 button {
	background-color: rgb(229,1,18);
	color: white;
	padding: 5px 15px;
	border: none;
	outline: none;
}

.pager li {
	width: 36px !important;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

.pager li a {
	width: 36px !important;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-left: 12px;
}

.desTitle {
	width:100%;
	margin: 0 auto;
	margin-top: 37px;
	position: relative;
}

.desTitle img {
	float: left;
	width: 100%;
	height: 330px;
}
.desTitle .image{
	width: 45%;

	display: inline-block;
}
.desTitle .image div{
	width: 100%;
	height: 330px;
}

.desTitle_right {
	display: inline-block;
	width: 50%;
	margin-left: 37px;
	position: relative;
	bottom: 20px;
}

.rightGroup1,
.rightGroup2,
.rightGroup3 {
	margin-bottom:5px;
}

.rightGroup1 {
	font-size: 30px;
}
.rightGroup2 {
	font-size: 18px;
}
.rightGroup3 b{
	font-size: 26px;
	color: red;
	display: inline-block;
}
.rightGroup3 span{
	font-size:18px;
	display: inline-block;
	margin-left: 40px;
}
.rightGroup4 {
	font-size:18px;
}
.rightGroup4 input{
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 1px solid #DDDDDD;
	font-size: 18px;
	cursor: pointer;
}
.rightGroup5 {
	margin-top: 40px;
}

.rightGroup5 button {
	width: 177px;
	height: 67px;
	line-height: 67px;
	background-color: rgb(43, 166, 225);
	border: none;
	outline: none;
	color: white;
	font-size: 24px;
}

.credits {
	width:100%;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 18px;
}

.desContent {
	width:100%;
	margin: 0 auto;
	margin-top: 30px;
}

.htitle {
	font-size: 22px;
	border-left: 10px solid rgb(43, 166, 225);
	padding-left: 16px;
	font-weight: bold;
}

.hr1,
.hr2,
.hr3,
.hr5,
.hr6 {
	margin: 0;
	border: 0;
	background-color: #DDDDDD;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 49px;
}

.hr2 {
	margin-bottom: 0;
}

.hr3 {
	margin-bottom: 13px;
}
.hr5 {
	margin-bottom: 35px;
}
.hr6 {
	margin: 20px 0;
}
.desContent p {
	text-indent: 2em;
	font-size: 18px;
	margin: 0;
}

.buystate {
	width:100%;
	margin: 0 auto;
	margin-top: 50px;
}

.buystateList {
	margin: 32px 0;
	padding-left: 10px;
}

.buytitle {
	font-size: 22px;
	border-left: 10px solid red;
	padding-left: 16px;
	font-weight: bold;
	margin-bottom: 32px;
}
.buytitle span{
	width:15%;
	min-width:130px;
	vertical-align: middle;
	display: inline-block;
}
.buytitle b{
	width:83%;
	display: inline-block;
	height: 2px;
	background: #DDDDDD;
	overflow: hidden;
	vertical-align: middle;
}

.buyContent {
	/*padding-left: 20px;*/
	font-size: 18px;
	position: relative;
}

.buyContenttitle {
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
}

.phoneList {
	position: absolute;
	top: 50px;
	right: 0;
}

.line {
	width: 100%;
	height: 15px;
	border-radius: 10px;
	background-image: url(../images/des/10.png);
	background-size: 100% 100%;
}

.line>div {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.lineContent {
	text-align: center;
}

.imgDiv {
	width: 29px;
	height: 29px;
	position: relative;
	top: -7px;
	left: 20px;
}

.imgDiv img:nth-of-type(2) {
	position: absolute;
	top: 8px;
	left: 8px;
}


/*文化商家*/

.listword {
	height: 190px;
	width: 100%;
	background-color: rgba(72, 73, 75, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	padding: 80px 0 0 20px;
	color: white;
	font-size: 18px;
	display: none;
}

.listword>div:nth-of-type(1) {
	margin: 20px 0;
}

.img_left {
	width: 550px;
}

.rightGroup6,
.rightGroup7,
.rightGroup8 {
	font-size: 20px;
}

.preferlist {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.preferlist>div {
	background-image: url(../images/cul4.png);
	background-size: 100% 100%;
	color: white;
	padding: 10px 20px;
}

.preferlist>div>div {
	margin-bottom: 10px;
}

.preferlist div {
}

.get {
	margin-bottom: 10px;
	text-align: center;
}

.product p {
	margin-top: 18px;
	font-size: 20px;
	text-indent: 2em;
}


/*文化指南弹框*/

.bluealert {
	width: 470px;
	height: 520px;
	border-bottom: 2px solid #E3E3E3;
}

.bluetitle {
	height: 100px;
	background-image: url(../images/culcompass/6.png);
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bluecity {
	flex-basis: 60%;
	color: white;
	font-size: 22px;
}

.bluecity>div:nth-of-type(2) {
	margin-top: 20px;
}

.bluecompass>div {
	color: white;
	border: 1px solid white;
	padding: 7px 5px 7px 10px;
	text-align: right;
}

.bluecompass>div:nth-of-type(1) {
	background-image: url(../images/culcompass/8.png);
	background-position: left center;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

.bluecompass>div:nth-of-type(2) {
	background-image: url(../images/culcompass/9.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.secondTitle {
	padding-left: 12px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.secondTitle>div {
	padding-left: 15px;
}

.secondTitle>div:nth-of-type(1) {
	background-image: url(../images/culcompass/10.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.secondTitle>div:nth-of-type(2) {
	background-image: url(../images/culcompass/11.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.secondTitle>div:nth-of-type(3) {
	background-image: url(../images/culcompass/12.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.secondTitle>div:nth-of-type(4) {
	background-image: url(../images/culcompass/13.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.secondTitle>div:nth-of-type(5) {
	padding-left: 20px;
	background-image: url(../images/culcompass/14.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.secondTitle>div:nth-of-type(5) span {
	display: inline-block;
	position: relative;
	top: 5px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.location{
	padding: 0 13px;
	height: 40px;
	line-height: 40px;
}
.location>div{
	background-image: url(../images/culcompass/15.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}
.location>div>div{
	padding-left: 15px;
	background-image: url(../images/culcompass/10.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.tphone{
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
}
.imgContent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.imgContent>div:nth-of-type(1){
	width: 240px;
}
.imgContent>div:nth-of-type(2){
	width: 210px;
}
.imgContent .comein{
	height: 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 0 10px;
	position: absolute;
	bottom: 0;
}
.imgContent .comein{
	width: 240px;
}
.imgContent .comein2{
	width: 210px;
}
.brief{
	padding-left: 10px;
}
.briefList{
	padding-top: 10px;
	padding-left: 20px;
}
.briefList>div{
}
.compass{
	padding-bottom: 100px;
}
.searchInput{
	z-index: 10;
	position: absolute;
	right: 10px;
	top: 60px;
	width: 470px;
	height: 40px;
	background-color: rgba(95,109,125,0.6);
}
.searchInput input{
	outline: none;
	border: none;
	background-color: transparent;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: white;
	padding-left: 10px;
}
.searchInput input::-webkit-input-placeholder {
    color: white;
}
/*工艺品*/
.sourthPic{
	width:100%;
	min-width: 1079px;
	margin: 0 auto;
	margin-top: 11px;
}
.sourthPic1,.sourthPic2{
	float: left;
}
.sourthPic1{
	width: 65%;
}
.sourthPic1 .sourthPic1-big{
	width: 100%;
	height: 393px;
}
.sthright .sthright-small{
	width: 100%;
	height: 194px;
}
.sourthPic2{
	margin-left: 2%;
	width: 33%;
}

.sourthPic1 img, .sourthPic2 img{
	width: 100%;
}
.sourthPic1, .sourthPic2 .sthright{
	position: relative;
}
.sourthPic1 .sthleft, .sourthPic2 .sthright>div:last-child{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: rgb(221,221,221);
	position: absolute;
	bottom: 0;
	padding-left: 20px;
}
.sthright2{
	margin-top: 5px;
}
.businesscon-sort{
	margin-top: 24px;
	margin-bottom: 37px;
}
.businesscon-search input{
	width: 315px;
}
.picitem{
	border: 1px solid #DDDDDD;
}
.mypiccoverdiv{
	height: 42px;
	line-height: 42px;
	padding-left: 20px;
	overflow: hidden;
}
.busdetail{
	position: relative;
	height: 325px;
}
.busdetail-left {
	width: 45%;
    height: 325px;
    float: left;
}
.busdetail-left img{
	width: 100%;
	height: 100%;
}
.busdetail-left .image{
	width: 100%;
	display: inline-block;
}
.busdetail-left .image div{
	width: 100%;
	height: 325px;
}

.bustourism{
	height: auto;
}
.busdetail-right {
    width: 55%;
    float: left;
    padding-left: 37px;
}
.busdetail-right .arttitle{
	font-size: 18px;
}
.busdetail-right .rightGroup5{
	position: absolute;
	bottom: 0;
}
.artprice,.artprice,.buyacot,.sltclr{
	font-size: 16px;
	margin: 5px 0;
}
.artprice span,.artprice span,.buyacot span,.sltclrDiv1 span {
	display: inline-block;
	font-size: 14px;
}
.sltclr .sltclrDiv{
	font-size: 16px;
}
.sltclrDiv{
	float: left;
	height: 50px;
}
.sltclrDiv1 span{
	display: inline-block;
	border: 1px solid #DDDDDD;
	background-color: rgb(221,221,221);
	padding: 10px;
	/*width: 230px;*/
	text-align: center;
	margin-right: 10px;
}
.sltclrDiv2{
	display: inline-block;
	border: 1px solid #DDDDDD;
	background-color: rgb(43, 166, 225);
	padding: 10px;
	/*width: 230px;*/
	text-align: center;
	margin-right: 10px;
}
.buyacot .buyacotDiv{
	display: inline-block;
}
.buyacot .buyacotDiv span{
	width: 30px;
	height: 40px;
	vertical-align: middle;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.buyacot .buyacotDiv .artNum{
	display: inline-block;
	width: 60px;
	height: 40px;
	border: 1px solid #DDDDDD;
}
.rightGroup5 button {
    width: 177px;
    height: 55px;
    line-height: 55px;
    background-color: rgb(43, 166, 225);
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}
.rightGroup5 button a{
	display: block;
	width: 177px;
    height: 55px;
    line-height: 55px;
    color: white !important;
}
.artcon{
	width:100%;
	min-width: 1080px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 100px;
}
.artconImg{
	margin-top: 50px;
	text-align: center;
	/*margin-bottom: 70px;*/
}

/*工艺品完*/

/*抢票*/
.busdetail-left1{
	width: 690px;
	height: 425px;
}
.busdetail-right1{
	width: 430px;
	height: 425px;
	margin-left: 35px;
	padding-left: 0;
	position: relative;
}
.busdetail-right1 b{
	font-size: 22px !important;
	margin-bottom: 20px;
}
.busdetail-right1 .artprice,.busdetail-right1 .buyacot{
	font-size: 18px;
}
.busdetail-right1 .buyacot{
	margin-top: 30px;
}
.busdetail-right1 .rightGroup5 button{
	background-color: red;
}
.busdetail-right1 .rightGroup5{
	position: absolute;
	bottom: 0;
}
.xiangqing{
	margin: 28px 0;
	text-align: center;
}
.xiangqing div{
	display: inline-block;
	font-size: 20px;
	color: white;
	background-color: red;
	padding: 5px 50px;
	margin: 0 10px;
}
.robcon{
	margin-top: 0;
}
.basic{
	margin-top: 22px;
	padding-bottom: 100px;
}
.basic p{
	font-size: 16px;
	margin: 0;
}
/*抢票完*/

/*餐饮*/
.caterbusdetail .arttitle{
	font-size: 22px;
}
.caterbusdetail .buyacot{
	margin-top: 30px;
}
.caterbusdetail div{
	font-size: 18px;
}
.guopuList{
	font-size: 16px !important;
}
.comment{
	width: 95%;
	margin: 0 auto;
	margin-top: 40px;
	padding-top: 40px;
}
.commentList{
	background-image: url(../images/artDes/6.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding: 20px;
	height: 130px;
}
.commentLeft{
	float: left;
	width: 70%;
}
.commentRight{
	float: right;
	width: 30%;
	text-align: right;
	z-index: 10;
}
.geren{
	float: left;
	width: 50px;
	text-align: center;
	margin-right: 25px;
}
.headStyle{
	width: 50px;
	height: 50px;
	background-color: rgb(221,221,221);
}
.headStyle img{
	width: 100%;
	height: 100%;
}

.commentCon{
	height: 60px;
}
.commentCon>div:nth-of-type(1){
	font-size: 16px;
	height: 20px;
	margin-bottom: 6px;
	overflow: hidden;
}
.commentCon>div:nth-of-type(2){
	font-size: 16px;
	height: 30px;
	overflow: hidden; 
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
}
.commentCon>div:nth-of-type(3){
	font-size: 16px;
	width: 300px;
	position: relative;
	left: 400px;
}
.morecomment{
	font-size: 18px;
	color: white;
	background-color: rgb(244,170,20);
	width: 120px;
	text-align: center;
	display: inline-block;
	float: right;
	position: relative;
	top: -20px;
}
.write{
	font-size: 18px;
	color: white;
	background-color: rgb(244,170,20);
	width: 120px;
	text-align: center;
	display: inline-block;
	float: right;
	margin: 20px 0;
}
.commentRight div{
	font-size: 20px;
	margin-right: 40px;
	margin-top: 20px;
	margin-left: 30px;
	
}
.myscore{
	text-align: right;
}
.myscore ul{
	display: inline-block;
}
.myscore li{
	display: inline-block;
	width: 17px;
	height: 17px;
	background-image: url(../images/artDes/9.png);
	background-size: cover;
	background-repeat: no-repeat;
	/*margin-left: 5px;*/
}
.myscore .active{
	background-image: url(../images/artDes/8.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.scoreNum{
	margin-left: 20px;
}
/*文化活动*/
.activeImg{
	float: left;
	margin-right: 44px;
	width: 30%;
}
.activeImg .Imgs{
	width: 100%;
	height: 187px;
}
.activeImg .Imgs img{
	width: 100%;
	height: 187px;
}
.culactiveListinn b{
	display: inline-block;
	font-size: 22px;
	font-family: "黑体";
	margin-bottom: 40px;
}
.culactiveListinn div{
	font-size: 16px;
	font-family: "黑体";
	/*margin-bottom: 20px;*/
}
.culactiveListinn button{
	border: none;
	outline: none;
	background-color: rgb(43,166,225);
	color: white;
	width: 150px;
	text-align: center;
	padding: 5px;
	margin-top: 40px;
}
.culactiveList{
	padding: 0 20px;
}
.arttime{
	font-family: "黑体";
}
/*文化活动完*/


/*电影票购买*/
.buyprocess{
	width:100% !important;
	min-width: 1160px;
	height: 110px;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;
	border-bottom: 1px solid #DDDDDD;
	background-image: url(../images/des/10.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 14px;
}
.buyprocess>div{
	float: left;
	margin-top: 5px;
}
.movieline{
	width: 20%;
}
.moviecircle{
	text-align: center;
	position: absolute;
}
.movie1{
	left: 20%;
}
.movie2{
	left: 40%;
}
.movie3{
	left: 60%;
}
.movie4{
	left: 80%;
}
.circleDIv,.movieword{
	position: relative;
	top: -3px;
	left: -15px;
}
.movieword{
	top: 3px;
	font-family: "黑体";
}
.circleDIv img{
	margin: 0;
}
.circle2{
	position: absolute;
	left: 22px;
	top: 7px;
}
.circle3{
	left: 21px;
}
.movieTitle{
	width:100%;
	min-width: 1160px;
	margin: 0 auto;
	height: 117px;
	position: relative;
}
.movieTitle1{
	margin: 20px 0;
	font-size: 22px;
	font-family: "黑体";
}
.movieTitle1 span{
	margin-right: 30px;
	font-size: 22px;
	font-family: "黑体";
}
.movieTitle2>span{
	margin-right: 40px;
	font-size: 20px;
	font-family: "黑体";
}
.comfirm{
	position: absolute;
	right: 0;
}
.comfirm span{
	font-family: "黑体";
}
.comfirm1{
	color: white;
	display: inline-block;
	padding: 5px 10px;
	background-color: rgb(113,111,112);
	margin-right: 20px;
}
.movieaddress1,.movieaddress2{
	font-size: 16px;
	font-family: "黑体";
	color: #E7E7E7;
	margin-left: 20px;
}
.movieaddress2{
	color: red;
	margin-left: 0;
}
.movieTable{
	width: 86%;
	min-width: 1160px;
	margin: 0 auto;
}
.movieTable table{
	width: 100%;
}
.movieTable table th{
	background-color: rgb(221,221,221);
}
.movieTable table th,.movieTable table td{
	text-align: center;
	height: 60px;
	font-size: 18px;
	font-family: "黑体";
}
.movieTable table td,.movieTable table td div,.movieTable table td span{
	font-size: 16px;
	font-family: "黑体";
}
.sanchang{
	font-size: 14px !important;
	color: #E7E7E7;
}
.jid{
	color: white;
	background-color: rgb(43,166,224);
	width: 30px;
	margin: 0 auto;
}
.jidspecial{
	background-color: rgb(219,222,1);
}
.redBc span{
	background-image: url(../images/movie/5.png);
	background-size: 100% 100%;
	color: red;
	padding: 5px 10px;
}
.redBc .redBor{
	background-image: url(../images/movie/6.png);
	background-size: 100% 100%;
}
.piaojia{
	color: red;
}
.through{
	font-size: 12px !important;
	text-decoration:line-through;
	margin-left: 10px;
}
.xuanpiao{
	display: inline-block;
	padding: 5px 15px;
	color: white;
	background-color: rgb(229,1,18);
	margin-right: 20px;
}
.throughDiv{
	height: 106px;
	text-align: center;
	background-image: url(../images/movie/9.png);
	background-size: cover;
}
.throughDiv span{
	display: inline-block;
	padding: 10px 15px;
	background-image: url(../images/movie/10.png);
	background-size: 100% 100%;
	margin-top: 40px;
	font-family: "黑体";
	font-size: 18px;
}
.hiddenTr{
	visibility: hidden;
}
.table2{
	position: relative;
	top: -60px;
}
.table2 tr{
	border-bottom: 1px solid rgb(197,194,192);
}
.movieButton{
	width: 86%;
	min-width: 1160px;
	margin: 0 auto;
	text-align: right;
}
.movieButton button{
	width: 250px;
	text-align: center;
	padding: 10px 0;
	border: none;
	outline: none;
	position: relative;
	top: -30px;
	font-size: 20px;
	color: white;
	background-color: rgb(43,166,224);
}
/*电影详情*/
.moviedes button{
	background-color: rgb(46,167,224) !important;
	height: 45px;
	line-height: 45px;
	margin-top: 120px;
}
.mybusinesscon-picture {
    /*width: 103.1%;*/
    margin-top: 48px;
}
.mybusinesscon-picture .picitem{
    width: 17%;
    float: left;
    margin-right: 3%;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;

}

.mybusinesscon-picture .piccoverdiv{
	padding-left: 15px;
	opacity: 0;
}

.mybusinesscon-picture .piccoverdiv button{
	margin: 20px auto !important;
	border: none;
	outline: none;
	padding: 5px 10px;
	background-color: rgb(43,166,225);
}
.lookdes{
	text-align: center;
	margin-left: -15px;
}
.ticket1 button{
	margin-top: 0 !important;
}
.showticket span{
	border: 1px solid #DDDDDD;
	padding-left: 8px;
	height: 31px;
	line-height: 30px;
	text-align: center;
}
.showticket span img{
	margin-left: 10px;
	position: relative;
	top: -2px;
}
.buyticket{
	display: inline-block;
	padding: 5px 20px;
	border: 1px solid #DDDDDD;
}
.none{
	display: none;
}
.ticketselect{
	text-align: center;
}
.ticketselect span{
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 18px;
	color: white;
	font-size: 18px;
}
.ticketselect1{
	margin-right:30px;
	background-color:#DDDDDD;
}
.ticketselectbg{
	background:#2EA7E0;!important;
}
.ticketcon{
	margin-top: 20px;
	margin-bottom: 0;
}
.basic1{
	padding-bottom: 0 !important;
}
.sitPic{
	width: 90%;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 82px;
}
.sitPic img{
	width: 100%;
}
/*话剧票购买*/
.ticketTable{
	width:100%;
	min-width: 1160px;
	margin: 0 auto;
}
.ticketTable table{
	width: 100%;
	height: 115px;
}
.ticketTitle{
	height: 50px;
}
.ticketTitle .movieTitle1{
	font-size: 22px !important;
}
.ticketTable table tr{
	height: 57px;
}
.ticketTable table tr th,.ticketTable table tr td{
	text-align: center;
	width: 20%;
	font-size: 18px;
	font-family: "黑体";
}
.ticketTable table tr .cospan{
	width: 40%;
}
.ticketButton{
	width: 86%;
	min-width: 1160px;
	margin: 0 auto;
	text-align: right;
}
.ticketButton button{
	width: 250px;
	text-align: center;
	padding: 10px 0;
	border: none;
	outline: none;
	font-size: 20px;
	color: white;
	background-color: rgb(43,166,224);
	margin-top: 42px;
}
.timeDate{
	width:100%;
	min-width: 1160px;
	margin: 0 auto;
	margin-top: 37px;
	padding-bottom: 28px;
	border-bottom: 1px solid #DDDDDD;
}
.timeDate label{
	font-weight: normal;
	font-size: 20px;
	margin-right:80px;
}
.timeDate label input{
	width: 250px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	border: 1px solid #DDDDDD;
	padding-left: 10px;
	margin-left: 20px;
}

.ticketinfo{
	width:100%;
	min-width: 1160px;
	margin: 0 auto;
}
.ticketinfo .infoTitle{
	display: inline-block;
	width: 150px;
	font-size: 22px;
	margin-bottom: 35px;
}
.ticketinfo input{
	padding: 5px 10px;
	width: 400px;
	font-size: 18px;
}
.ticketTip{
	margin-left: 67px;
	color: red;
}
.zhifuDiv{
	width: 86%;
	min-width: 1160px;
	margin: 0 auto;
	text-align: right;
}
.zhifuDiv1{
	font-size: 20px;
	color: red;
}
.zhifuDiv2{
	font-size: 22px;
	margin: 40px 0;
}
.zhifuDiv2 span{
	border: 1px solid #DDDDDD;
	padding: 20px;

}
.zhifuDiv3{
	font-size: 24px;
}
.zhifuDiv3 span{
	color: red;
	font-size: 20px;

}
/*文化旅游*/
.busdetail-left-bottom{
	padding: 18px 22px;
	margin: 22px 0;
	background-color: rgb(221,221,221);
}
.busdetail-left-bottom img{
	width: 24%;
}
.tourismButton{
	text-align: center;
}
.tourismButton button{
	border: none;
	outline: none;
	width: 200px;
	height: 40px;
	margin-top: 18px;
	margin-left: 25px;
	color: white;
	font-size: 18px;
}
.tourismButton1{
	background-color: rgb(43,166,225);
}

.tourismcon{
	margin-bottom: 0;
}
.tourismpath{
	padding: 60px 15px;
}
.tourismpathList{
	float: left;
	width: 23%;
	margin-right: 2%;
	border: 1px solid #DDDDDD;
}
.clear{
	clear: both;
}
.tourismpathList1{
	position: relative;
}
.tourismpathList1 img{
	width: 100%;
}
.tourismpathList1 .tourism-word{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-left: 20px;
	background-color: rgba(225,225,225,0.5);
}
.tourismpathList2{
	padding-left: 20px;
	margin-top: 10px;
}
.tourismpathList3{
	text-align: center;
	padding-bottom: 6px;
}
.tourismpathList3 button{
	margin-top: 20px;
	border: none;
	outline: none;
	color: white;
	padding: 5px 15px;
	background-color: rgb(46,167,224);
}
/*旅游详情*/
.tourismcontent{
	width: 95%;
	margin: 0 auto;
	position: relative;
}
.tourism-left,.tourism-right{
	display: inline-block;
}
.tourism-left{
	width: 70%;
}
.tourismdescon{
	margin: 0;
}
.tourism-left-slide{
	background-color: rgb(221,221,221);
	margin-top: 37px;
}
.tourism-left-slide-name{
	height: 98px;
	line-height: 98px;
	padding-left: 40px;
	font-size: 5rem;
	font-family: "黑体";
	
}
.tourism-left-slide-name span{
	font-family: "黑体";
	font-size: 20px;
	color: white;
	padding: 5px 10px;
	margin-left: 40px;
	background-image: url(../images/xianlu/2.png);
	background-size: 100% 100%;
}
.tourism-left-slide-type{
	height: 182px;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px;
}
.tourism-right{
	position: absolute;
	top: 37px;
	left: calc(70% + 20px);
	width: calc(30% - 20px);
}
.tourism-right div{
	font-family: "黑体";
	font-size: 16px;
}
.tourism-right-list{
	padding-bottom: 10px;
	background-image: url(../images/xianlu/15.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}
.paddtop{
	margin-top: 20px;
	position: relative;
	padding-bottom: 40px;
}
.tourism-right-list button{
	border: none;
	outline: none;
	color: white;
	background-color: red;
	padding: 5px 10px;
	font-size: 16px;
	font-family: "黑体";
	position: absolute;
	right: 0;
}
.jingdian{
	margin-top: 12px;
	border-top: 1px solid rgb(203,203,203);
}
.jdTitle span{
	border: 1px solid rgb(203,203,203);
	font-size: 22px;
	padding: 5px 7px;
	position: relative;
	top: 2px;
	
}
.jingdian .basic{
	font-size: 18px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.tourcomment{
	margin-top: 0;
}
